<div class="profile col-md-6 text-center col-lg">
    <img class="profile-img" src="../images/user.png"/>
    <div class="profile-info">
        <p>Username: <small>{{email}}</small></p>
        <p class="infoType">Wished {{numOrganizedTreks}} treks =)</p>
        {{#if numOrganizedTreks}}
            {{#each organizedTreks as |trek|}}
                <p>{{trek.location}}</p>
            {{/each}}
        {{else}}
            <p>No treks</p>
        {{/if}}
    </div>
</div>